* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #d1b6ff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #000000;
    margin-top: 40px;
}

.login-form {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    background: #67b0ff4e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

label {
    font-size: 18px;
    color: #080000;
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #3f56eb;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1e30a1;
}

h1 {
    text-align: center;
}
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
}